<div class="col-lg-3 col-md-6">
    <!-- Widget -->
    <div class="widget">
        <div class="widget-content padding-20 light_maroon white">
            <div class="counter counter-lg counter-inverse">
                <div class="counter-label text-uppercase margin-bottom-5">INCOMMING MESSAGES</div>
                <div class="counter-number-group">
                    <span class="counter-number number">@ViewBag._totalIncomingMessage</span>
                    <span class="counter-icon margin-left-10"><i aria-hidden="true" class="icon wb-chat-group"></i></span>
                </div>
                <div class="counter-label">Read More <i class="icon fa-arrow-circle-right"></i></div>
            </div>
        </div>
    </div>
    <!-- End Widget -->
</div>
<div class="col-lg-3 col-md-6">
    <!-- Widget -->
    <div class="widget">
        <div class="widget-content padding-20 bg-blue-600 white">
            <div class="counter counter-lg counter-inverse">
                <div class="counter-label text-uppercase margin-bottom-5">Sent Messages</div>
                <div class="counter-number-group">
                    <span class="counter-number number">@ViewBag._totalSentMessage</span>
                    <span class="counter-icon margin-left-10"><i aria-hidden="true" class="icon wb-reply"></i></span>
                </div>
                <div class="counter-label">Read More <i class="icon fa-arrow-circle-right"></i></div>
            </div>
        </div>
    </div>
    <!-- End Widget -->
</div>
<div class="col-lg-3 col-md-6">
    <!-- Widget -->
    <div class="widget">
        <div class="widget-content padding-20 light_greens text-white">
            <div class="counter counter-lg">
                <div class="counter-label text-uppercase margin-bottom-5">Twitter Followers</div>
                <div class="counter-number-group">
                    <span class="counter-number number">@ViewBag._totalTwitterFollowers</span>
                    <span class="counter-number-related"><i aria-hidden="true" class="icon bd-twitter"></i></span>
                </div>
                <div class="counter-label">Read More <i class="icon fa-arrow-circle-right"></i></div>
            </div>
        </div>
    </div>
    <!-- End Widget -->
</div>
<div class="col-lg-3 col-md-6">
    <!-- Widget -->
    <div class="widget">
        <div class="widget-content padding-20 dark_yellows white">
            <div class="counter counter-lg counter-inverse">
                <div class="counter-label text-uppercase font-size-16">New Facebook Fans</div>
                <div class="counter-number-group">
                    <span class="counter-number number">@ViewBag._totalFacebookFan</span>
                    <span class="counter-icon margin-left-10"><i class="icon bd-facebook" aria-hidden="true"></i></span>
                </div>
                <div class="counter-label">Read More <i class="icon fa-arrow-circle-right"></i></div>
            </div>
        </div>
    </div>
    <!-- End Widget -->
</div>