<style>
    .panel-red .panel-heading {
        background-color: #d9534f;
        border-color: #d9534f;
        color: #fff;
    }
    .huge {
        font-size: 40px;
    }
    .fa-5x {
        font-size: 3em;
    }
    .panel-red {
        border-color: #d9534f;
    }
        .panel-red a {
            color: #d9534f;
        }
    .panel-green {
        border-color: #5cb85c;
    }
        .panel-green .panel-heading {
            background-color: #5cb85c;
            border-color: #5cb85c;
            color: #fff;
        }
        .panel-green a {
            color: #5cb85c;
        }
    .panel-yellow {
        border-color: #F7DA64;
    }
        .panel-yellow .panel-heading {
            background-color: #F7DA64;
            border-color: #F7DA64;
            color: #fff;
        }

        .panel-yellow a {
            color: #5cb85c;
        }



    .panel-blue {
        border-color: #3B5998;
    }

        .panel-blue .panel-heading {
            background-color: #3B5998;
            border-color: #3B5998;
            color: #fff;
        }

        .panel-blue a {
            color: #5cb85c;
        }
</style>



<div class="col-lg-3 col-md-6">
    <div class="panel panel-green" >
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <span class="huge">@ViewBag._totalIncomingMessage</span>
                    <div>Incoming Messages</div>
                </div>
            </div>
        </div>
        <a href="../Messages/Index">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>


<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-mail-reply-all fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <span class="huge">@ViewBag._totalSentMessage</span>
                    <div>Sent Messages</div>
                </div>
            </div>
        </div>
        <a href="../Messages/Index">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>



<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-twitter fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <span class="huge">@ViewBag._totalTwitterFollowers</span>
                    <div>Twitter Followers</div>
                </div>
            </div>
        </div>
        <a href="../Messages/Index">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>



<div class="col-lg-3 col-md-6">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-facebook fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <span class="huge">@ViewBag._totalFacebookFan</span>
                    <div>New Facebook Fans</div>
                </div>
            </div>
        </div>
        <a href="../Messages/Index">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
