
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SEO Campaign</title>
    <style>
        .page-content-wrapper .page-content {
          padding: 0 !important;
        }
    </style>
</head>
<body>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:506px;padding: 0px ! important;">
            <iframe style="width: 100%; height: 985px;" src="http://tracker.marketersuite.com/myfashion/campaigns.action"></iframe>
        </div>
    </div>>
</body>
</html>