

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>videoCampaign</title>
    
</head>
<body>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:506px;margin-bottom:-40px;margin-right:-20px;padding:0 !important">
            <iframe style=" width: 104%; margin-top:-32px; margin-left:-32px;height: 9000px" src="http://tracker.marketersuite.com/myfashion/reviewsite.action"></iframe>
        </div>
    </div>
</body>
</html>
