
<div class="page-content-wrapper " id="partialview">
    <div class="page-content" style="min-height:722px">
        <!-- BEGIN PAGE CONTENT-->
        <div class="page-bar no-m-bottom">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Accounts</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>New</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><span class="m-right-sm"><i class="fa fa-sitemap font-24"></i></span> New</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-15">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-message"></i>Company Info
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal">
                                    <div class="">
                                        <label class="control-label">
                                            Business Name <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" id="txt_bname" name="bname" class="form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Auto Hashtag Phrases (comma separated)</label>
                                        <input type="text" name="hashtag" class="form-control">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-15">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-message"></i>Contact Information
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal row">
                                    <div class="col-md-6">
                                        <div class="">
                                            <label class="control-label">Website URL</label>
                                            <input type="url" value="" id="txt_weburl" name="url" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">Default Marketing Reply Email</label>
                                            <input type="email" id="txt_Defaultemail" name="lname" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">Address</label>
                                            <input type="text" id="txt_address" name="addr" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">City</label>
                                            <input type="text" id="txt_city" name="city" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">Postal/Zip Code</label>
                                            <input type="text" id="txt_postal" name="postal" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="">
                                            <label class="control-label">Default Number</label>
                                            <input type="text" id="txt_defaultno" name="no" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">Billing Email</label>
                                            <input type="email" id="txt_billingemail" name="bmail" class="form-control">
                                        </div>
                                        <div class="">
                                            <label class="control-label">Country</label>
                                            <select name="country" class="form-control">
                                                <option>India</option>
                                                <option>US</option>
                                                <option>France</option>
                                                <option>UK</option>
                                            </select>
                                        </div>
                                        <div class="">
                                            <label class="control-label">Province/State</label>
                                            <select name="country" class="form-control">
                                                <option>Tamilnadu</option>
                                                <option>Andhra Pradesh</option>
                                                <option>Chhattisgarh</option>
                                                <option>Kerala</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a onclick="addaccount();" class="btn blue-madison" href="javascript:;">Save Organization</a>
        </div>
