<tr class="cls-user-message">
    <td><span><i class="fa fa-facebook"></i></span></td>
    <td><a href="#">Notifications</a></td>
    <td>
        <label for="mtChk1">
            <input type="checkbox" name="message-type" id="fb_notification" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages('fb_notification')" checked />
            <label for="fb_notification" class="css-label"></label>
        </label>
    </td>
</tr>
<tr class="cls-user-message">
    <td><span><i class="fa fa-facebook"></i></span></td>
    <td><a href="#">Mentions</a></td>
    <td>
        <label for="mtChk2">
            <input type="checkbox" name="message-type" id="twt_mention" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages('twt_mention')" checked />
            <label for="twt_mention" class="css-label"></label>
        </label>
    </td>
</tr>
<tr class="cls-user-message">
    <td><span><i class="fa fa-twitter"></i></span></td>
    <td><a href="#">Retweets</a></td>
    <td>
        <label for="mtChk3">
            <input type="checkbox" name="message-type" id="twt_retweet" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages('twt_retweet')" checked />
            <label for="twt_retweet" class="css-label"></label>
        </label>
    </td>
</tr>
<tr class="cls-user-message">
    <td><span><i class="fa fa-twitter"></i></span></td>
    <td><a href="#">New Followers</a></td>
    <td>
        <label for="mtChk4">
            <input type="checkbox" name="message-type" id="twt_followers" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages('twt_followers')" checked />
            <label for="twt_followers" class="css-label"></label>
        </label>
    </td>
</tr>
