@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
}
<style type="text/css">


</style>
<div class="panel">
    <div class="panel-body container-fluid">
        <!-- Example Pricing List -->
        <div class="example-wrap">
            <h4 class="example-title">Pricing-List - Bg In Title</h4>
            <div class="example">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="pricing-list">
                            <div class="pricing-header">
                                <div class="pricing-title bg-blue-600">Personal</div>
                                <div class="pricing-price">
                                    <span class="pricing-currency blue-600">$</span>
                                    <span class="pricing-amount blue-600">5</span>
                                    <span class="pricing-period blue-600">/ mo</span>
                                </div>
                            </div>
                            <ul class="pricing-features">
                                <li><i class="fa fa-check"></i>1 user</li>
                                <li><i class="fa fa-check"></i>10 GB storage</li>
                                <li class="disabled"><i class="fa fa-times"></i>Email priority support</li>
                                <li class="disabled"><i class="fa fa-times"></i>Free update</li>
                                <li class="disabled"><i class="fa fa-times"></i>24/7 support</li>
                            </ul>
                            <div class="pricing-footer">
                                <a onclick="UpgradeStatus('Personal')" class="btn btn-primary btn-outline">
                                    Upgrade <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="pricing-list">
                            <div class="pricing-header">
                                <div class="pricing-title bg-blue-600">Professional</div>
                                <div class="pricing-price">
                                    <span class="pricing-currency blue-600">$</span>
                                    <span class="pricing-amount blue-600">10</span>
                                    <span class="pricing-period blue-600">/ mo</span>
                                </div>
                            </div>
                            <ul class="pricing-features">
                                <li><i class="fa fa-check"></i>10 users</li>
                                <li><i class="fa fa-check"></i>30 GB storage</li>
                                <li><i class="fa fa-check"></i>Email priority support</li>
                                <li><i class="fa fa-check"></i>Free update</li>
                                <li class="disabled"><i class="fa fa-times"></i>24/7 support</li>
                            </ul>
                            <div class="pricing-footer">
                                <a onclick="UpgradeStatus('Professional')" class="btn btn-primary btn-outline">
                                    Upgrade <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                             </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="pricing-list">
                            <div class="pricing-header">
                                <div class="pricing-title bg-blue-600">Business</div>
                                <div class="pricing-price">
                                    <span class="pricing-currency blue-600">$</span>
                                    <span class="pricing-amount blue-600">25</span>
                                    <span class="pricing-period blue-600">/ mo</span>
                                </div>
                            </div>
                            <ul class="pricing-features">
                                <li><i class="fa fa-check"></i>Unlimited user</li>
                                <li><i class="fa fa-check"></i>100 GB storage</li>
                                <li><i class="fa fa-check"></i>Email priority support</li>
                                <li><i class="fa fa-check"></i>Free update</li>
                                <li><i class="fa fa-check"></i>24/7 support</li>
                            </ul>
                            <div class="pricing-footer">
                                <a onclick="UpgradeStatus('Business')" class="btn btn-primary btn-outline">
                                    Upgrade <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Example Pricing List -->
    </div>
</div>

<script type="text/javascript" src="/Themes/@path/Contents/assets/plugins/jquery-1.11.2.min.js"></script>
<script>
    function UpgradeStatus(accounttype)
    {
        $.ajax({
            type: "POST",
            url: '../Billing/UpgradePlan?AccountType=' + accounttype,
            contentType: false,
            success: function (msg) {
                if (msg !== "") {
                    window.location = msg;
                }
            }
        });
    
    
    }


</script>
